header {
    border-bottom: 2px solid blue;
}
#nav_menu ul {
    list-style-type: none;
}
#nav_menu ul li {    
    float: left;
}
#nav_menu ul li a {    
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
#nav_menu ul li a.current {
    color: yellow;
}
body {
    width: 95%;
    margin: 15px auto;
    background-image: url(../images/smileyface.png);
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
}
h1 {
    margin-bottom: 10px;
    color: blue;
    font-weight: bold;
}
h2 {
    color: blue;
    font-weight: bold;
}
header {
    padding: 20px;
}
article {
    width: 75%;
    padding: 20px;
    float: left;
    column-count: 3;
    column-rule: 5px dotted blue;
    column-gap: 2em;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: black;
}
aside {
    width: 20%;
    float: right;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
}
aside ol {
    list-style-type: upper-roman;
    position: fixed;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
}
aside ul {
    list-style-type: lower-alpha;
    position: fixed;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
}
img {
    float: left;
}
footer {
    clear: both;
    border-top: 2px solid blue;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
    border-right: 1px black;
}